
// @import "basis/reset";
@import "basis/variables";
@import "basis/typography";
@import "partials/front";
@import "partials/checkout";

// :root {
//   --font-main: 'Noto Sans JP', sans-serif;
//   --font-bold: 'Anton', sans-serif;
//   --main-color: #45526e !important;
// }

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  min-height: 100%; 
  position: relative;
}

// body {
//     background: linear-gradient(110deg, #f93d66, #d97547);
// }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $asagi;
}

.custom-control-input:checked~.custom-control-label::before {
  color:#fff;
  border-color: $asagi;
  background-color: $asagi;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

main {
  padding-bottom: 10rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


#messages {
  font-size: 1.2rem;
  padding: 5px;
}

.alert {
  padding-left: 0;
  color: red;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    // color: $aotake;
    // background-color: $byakuroku;
    // border-color: $aotake;
}

.alert-warning {
  color: $kurenai;
  background-color: $sakura;
  border-color: $kurenai;
}


.btn-main {
  background-color: $asagi;
  color: white;
}
.btn-outline-main {
  border: 2px solid $asagi !important;
  color: $asagi !important;
}
.btn-second {
  background-color: $rikyushiracha;
  color: white;
}
.pagination .btn {
  padding: 5px 10px;
  margin: 0 2px;
}

.badge-quantity,
.badge-saving {
  background-color: $nae;
  color: white;
  padding-bottom: 4px;
}

.promo-code {
  color: $nakabeni;
  background-color: RGB(245, 150, 170, .3);
}


/* Nav */
.navbar.scrolling-navbar {
  padding-bottom: 7px;
}

.navbar-nav,
a#nav-cart {
  display: flex;
  align-items: center;
}

.md-form {
  margin-bottom: 0;
}


section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section header h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: white;
  background: $kihada;
  padding: 20px;
  position: relative;
}

section header h1::before {
  background-color: $kihada;
  opacity: .5;
  content: "";
  height: 100%;
  left: -500%;
  position: absolute;
  top: 0;
  width: 500%;
  z-index: 3;
}

section header h2 {
  // font-family: meiryo, "Noto Sans JP", sans-serif;
  font-size: 1.3em;
  font-weight: 100;
}

@media (max-width: 980px) {
  section header h2 {
    margin-right: 10px;
  }
}

header {
  color: white;
}


.order-status {
  p {
    margin-bottom: .1rem;
    font-weight: 400;
    &.bold {
      font-weight: 600;
    }
    &.status {
      color: $asagi;
    }
  }
}


.total-price {
  text-decoration: underline;
}


