{% extends "base.html" %}
{% block head_title %}商品の追加/編集{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<main>
  <div id="home" class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        {% if edit %}
        <legend class="border-bottm mt-5 mb-4">商品を編集する</legend>
        {% else %}
        <legend class="border-bottm mt-5 mb-4">商品を追加する</legend>
        {% endif %}
        {{ form|crispy }}
        <button class="btn btn-main mt-5" type="submit">
          {% if edit %}
          更新する
          {% else %}
          追加suru
          追加する
          {% endif %}
        </button>
      </fieldset>
    </form>
  </div>
</main>
{% endblock %}