{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}商品の削除{% endblock %}

{% block content %}
<div id="item-delete" class="container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <h5 class="text-alert">この商品を削除してもよろしいですか？</h5>
      {% if item.image %}
      <img src="{{ item.image_small.url }}" alt="">
      {% endif %}
      {{ object.title }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit">削除する</button>
    </div>
    {% endblock content %}