{% extends "base.html" %}
{% load humanize %}
{% block head_title %}注文履歴{% endblock %}

{% block content %}

<!--Main layout-->
<main>

  <div id="order-list" class="container">

    <h2>注文履歴</h2>

    {% for order in orders %}
    <div class="order-status">
      <p class="label mb-0">Order No: {{ order.id }}</p>
      <p class="bold">{{ order.ordered_date }}</p>
      <p>
        <span class="label">Status:</span>
        {% if order.dispatched %}
        <span class="status badge badge-dispatched">発送済み</span>
        {% else %}
        <span class="status badge badge-danger">発送準備中</span>
        {% endif %}
        </span>
        {% if list_for_staff %}
        <!-- <a href="{% url 'core:order-dispatched' order.id %}" class=" btn btn-outline-primary btn-sm"> -->
        {% if order.dispatched %}
        <a href="{{ order.get_order_dispatched }}" class=" btn btn-outline-main btn-sm">
          発送済み取り消し
        </a>
        {% else %}
        <a href="{{ order.get_order_dispatched }}" class=" btn btn-outline-danger btn-sm">
          発送済みにする
        </a>
        {% endif %}
      </p>
      {% endif %}
      <p class="">送料: ¥{{ order.get_postage | intcomma }}</p>
      <p class="bold total-price">合計金額: ¥{{ order.get_total_w_postage | intcomma }}</p>


    </div>
    <table class="table">
      <tbody>

        {% for order_item in order.items.all %}
        <tr>
          <th scope="row">
            {% if order_item.item.image %}
            <a href="{% url 'core:item' order_item.item.slug %}">
              <img src="{{ order_item.item.image_thumbnail.url }}" class="thumb">
            </a>
            {% endif %}
          </th>
          <td>
            <!-- <a href="{{order_item.item.get_absolute_url}}"> -->
            <a href="{% url 'core:item' order_item.item.slug %}">
              {{ order_item.item.title }}
            </a>
          </td>

          {% if order_item.item.discount_price %}
          <td>
            ¥{{ order_item.item.discount_price | intcomma }}
          </td>
          {% else %}
          <td>¥{{ order_item.item.price | intcomma}}</td>
          {% endif %}

          <td>
            {{ order_item.quantity }}
          </td>

          <td>
            ¥{{ order_item.get_final_price | intcomma }}
          </td>


          <!-- <td>
              <a href="{{ order_item.item.get_remove_from_cart_url }}" class=" btn btn-danger btn-md my-0 p">
              <i class="fas fa-trash"></i>
              </a>
            </td> -->
        </tr>

        {% endfor %}

        <tr>
          <td colspan="4" class="text-right">小計</td>
          <td>
            {% if order.get_total %}
            <p class="bold total-price">¥{{ order.get_total | intcomma }}</p>
            {% endif %}
          </td>
        </tr>

      </tbody>
    </table>
    {% empty %}
    <p>You do not have any order yet.</p>
    {% endfor %}



    {% include "parts/pagination.html" %}


  </div>

</main>

{% endblock content %}