{% extends "base.html" %}

{% block head_title %}Shopping Cart{% endblock %}

{% block content %}

<!--Main layout-->
<main>

  <div id="shopping-cart" class="container">

    <div class="table-responsive text-nowrap">

      <h2>Your Shopping Cart</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Item Total Price</th>
          </tr>
        </thead>
        <tbody>

          {% for order_item in order.items.all %}
          <tr>
            <td>
              {% if order_item.item.image %}
              <a href="{% url 'core:item' order_item.item.slug %}">
                <img src="{{ order_item.item.image_thumbnail.url }}" class="thumb">
              </a>
              {% endif %}
            </td>
            <td>
              <!-- <a href="{{order_item.item.get_absolute_url}}"> -->
              <a href="{% url 'core:item' order_item.item.slug %}">
                {{ order_item.item.title }}
              </a>
            </td>

            {% if order_item.item.discount_price %}
            <td>
              <span class=" mr-1">
                <del>${{ order_item.item.price }}</del>
              </span>
              ${{ order_item.item.discount_price }}
            </td>
            {% else %}
            <td>${{ order_item.item.price }}</td>
            {% endif %}

            <td>
              {% if order_item.quantity == 1 %}
              <a href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash mr-2"></i>
              </a>
              {% else %}
              <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}">
                <i class="fas fa-minus mr-2"></i>
              </a>
              {% endif %}
              {{ order_item.quantity }}
              <a href="{% url 'core:add-to-cart' order_item.item.slug %}">
                <i class="fas fa-plus ml-2"></i>
              </a>
            </td>

            <td>
              <!-- {% if order_item.item.discount_price %}
              ${{ order_item.get_total_discount_item_price }}
              <span class="badge badge-saving ml-1">Saving ${{ order_item.get_amount_saved }}</span>
              {% else %}
              ${{ order_item.get_total_item_price }}
              {% endif %} -->
              {{ order_item.get_final_price }}
            </td>

            <td>
              <a href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
              </a>
            </td>

            <!-- <td>
              <a href="{{ order_item.item.get_remove_from_cart_url }}" class=" btn btn-danger btn-md my-0 p">
              <i class="fas fa-trash"></i>
              </a>
            </td> -->
          </tr>

          {% empty %}
          <tr>
            <td colspan='5'>Your cart is empty.</td>
          </tr>
          {% endfor %}
          {% if order.get_total %}
          <tr>
            <td colspan="4" class="text-right">Sub Total Price</td>
            <td class="">${{ order.get_total }}</td>
          </tr>
          <tr>
            <td colspan="4" class="text-right">Shipping Fee</td>
            <td class="">${{ order.get_postage }}</td>
          </tr>
          <tr>
            <td colspan="4" class="bold text-right">Total Price</td>
            <td class="total-price bold">${{ order.get_total_w_postage }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

    <div class="clearfix">
      {% if order.get_total %}
      <a class='btn btn-main float-right ml-2' href="{% url 'core:checkout' %}">Proceed to Checkout</a>
      <a class='btn btn-second float-right' href="/">Continue shopping</a>
      {% else %}
      <a class='btn btn-second float-right' href="/">Continue shopping</a>
      {% endif %}
    </div>

  </div> <!-- container -->

</main>
<!--Main layout-->


{% endblock content %}