
// @import "basis/reset";
@import "basis/variables";
@import "basis/typography";
@import "partials/front";
@import "partials/lists";
@import "partials/blog";

// :root {
//   --font-main: 'Noto Sans JP', sans-serif;
//   --font-bold: 'Anton', sans-serif;
//   --main-color: #45526e !important;
// }

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  min-height: 100%; 
  position: relative;
}

// body {
//     background: linear-gradient(110deg, #f93d66, #d97547);
// }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $asagi;
}

.custom-control-input:checked~.custom-control-label::before {
  color:#fff;
  border-color: $asagi;
  background-color: $asagi;
}

img {
  width: 100%;
  margin: 0;
  padding: 0;
}

#item-delete img {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: auto;
  display: block;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

main {
  padding-top: 3rem;
  padding-bottom: 10rem;
}
#home,
#item,
#item-list {
  margin-top: -3rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


#messages {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 1rem;
}

.alert {
  padding-left: 0;
  color: red;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    // color: $aotake;
    // background-color: $byakuroku;
    // border-color: $aotake;
}

// .alert-warning {
//   color: $kurenai;
//   background-color: $sakura;
//   border-color: $kurenai;
// }


.btn-main {
  background-color: $asagi;
  color: white;
}
.btn-outline-main {
  border: 2px solid $asagi !important;
  color: $asagi !important;
}
.btn-second {
  background-color: $tamamorokoshi;
  color: white;
}
.btn-outline-second {
  border: 2px solid $tamamorokoshi !important;
  color: $tamamorokoshi !important;
}
.pagination .btn {
  padding: 5px 10px;
  margin: 0 2px;
}

.badge-quantity,
.badge-saving {
  background-color: $nae;
  color: white;
  padding-bottom: 4px;
}

.badge-dispatched {
  background-color: $asagi;
}

.badge-momo {
  background-color: $momo;
  color: white;
  padding-bottom: 4px;
}

.promo-code {
  color: $nakabeni;
  background-color: RGB(245, 150, 170, .3);
}


/* Nav */
.navbar.scrolling-navbar {
  padding-bottom: 7px;
}

.navbar-nav,
a#nav-cart {
  display: flex;
  align-items: center;
}

#main-menu .nav-flex-icons {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  } //div
  @media (max-width: 768px) {
    flex-direction: column;
    div {
      width: 100%;
    }
    li {
      padding: 10px;
    }
  } //@media
} //#main-manu .nav-flex-icons

#main-menu {
  background: #fff;
  h5 {
    font-weight: 400;
  }
  i.fa-user-edit {
    padding-right: 0;
  }
}

.blog #main-menu {
  background: #5f788a;
  h1 {
    font: 0/0 a;
    background: url(https://store-for-nobody.s3-ap-northeast-1.amazonaws.com/logos/a-store-logo-white.png);
    width: 120px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  a, h5 {
    color: white;
  }
}

.md-form {
  margin-bottom: 0;
}


section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}


header {
  color: white;
}


// #order-list .total-price {
//   text-decoration: underline;
// }

.flex-buttons {
  width: 50%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  button,
  a {
    flex: 1;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  } //a
  @media (max-width: 768px) {
    width: 100%;
   a {
     flex-basis: 100%;
     margin-left: 0;
     margin-right: 0;
   } //a
  } //@media
} //.flex-buttons

 #btn-add-item {
   width: 100%;
   margin-left: 0;
   margin-right: 0;
 }

.fa-heart {
  color: $asagi;
  font-size: 1.6rem;
  margin-left: .3rem;
}

.mobile-off {
  @media(max-width: 768px) {
    display: none;
  }
}

.mobile-only {
  @media(min-width: 768px) {
    display: none;
  }
}


 
// .span1 {
//   grid-column: span 1;
// }
// .span2 {
//   grid-column: span 2;
// }
// .span3 {
//   grid-column: span 3;
// }
// .span4 {
//   grid-column: span 4;
// }
// .span5 {
//   grid-column: span 5;
// }
// .span6 {
//   grid-column: span 6;
// }



.shipping-address {
  .address {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

#order-info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

.navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far, .navbar .nav-item .nav-link .fas {
	padding-right: 3px;
	padding-left: 3px;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.6);
}

// .modal.show-modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow:scroll;
//   background: #333;
//   opacity: .9;
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   img {
//     width: 90%;
//   }
// }