// $main-font: "lato", sans-serif;
// $secondary-font: "roboto", sans-serif;
$jp-font: "Noto Sans JP", sans-serif;

body {
  font-family: $jp-font;
  font-size: 16px;
}

#checkout,
#billing-address,
#order-info,
#profile {
  font-family: "roboto", sans-serif;
  .cart-sidebar {
    font-family: "Lato", sans-serif;
  }
}

nav h1 {
  // font-family: Anton, sans-serif;
  // font-weight: 800;
  // font-size: 2rem;
  // margin-bottom: 0;
  font: 0/0 a;
  background: url(https://store-for-nobody.s3-ap-northeast-1.amazonaws.com/logo.png);
  width: 120px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;

}

nav#main-menu {
  font-family: $jp-font;
  font-size: .8rem;
}

h2 {
  font-family: $jp-font;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#edit-profile h2,
.item-detail h2 {
  margin-bottom: 1rem;
}

.feature .item-detail {

  h2 {
    font-family: "Lato", sans-serif;
    margin-top: 1rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  small {
    font-weight: 100;
  }
  a.btn-main {
    color: #fff;
  }
  .stock {
    font-family: $jp-font;
    font-size: .8rem;
    font-weight: 400;
  }

}

h3 {
  font-size: 1rem;
  font-weight: 800;
  // font-style: italic;
  // margin-bottom: 3rem;
}

.shipping-address h3,
.billing-address h3 {
  font-family: $jp-font;
  font-weight: 300;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 3px 2px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.items > div > ul > li {

    & > div h3 {
      color: white;
      background: $asagi;
      font-weight: 400;
      font-size: 1.1rem;
      margin: 0;
      padding: 3px 5px;
      height: 1.5rem;
      overflow: hidden; 
    }

    & > div h4 {
      color: white;
      background: $rikyushiracha;
      opacity: .5;
      font-size: 1rem;
      margin: 0;
      padding: 5px 7px;
      text-align: right;
      font-family: meiryo, "Noto Sans JP", sans-serif;
    }

  }

h5.username {
  display: inline;
  font-family: $jp-font;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding-right: .5rem;
  padding-left: .5rem;
}

.card .card-body h5, h5 {
  font-weight: 500;
  margin-top: 2rem;
}

.card .card-body  h6 {
  font-weight: 500;
}

.address, 
.payment-option,
.bold {
  // font-family: 'Nixie One', cursive;
  font-weight: 500;
}

.radio-label {
  font-weight: 300;
}


#pickup-address {
  margin-left: 3rem;
  font-size: .7rem;
}

#div_id_use_stored_shipping_address {
  .pickup-address {
    font-style: italic;
    font-size: .6rem;
    margin-left: 3rem;
  }
}

form {
  font-family: $jp-font;
  legend {
    font-size: 1.7rem;
    font-weight: 200;
    margin-bottom: 3rem;
  }
  label {
    font-size: .8rem;
    font-weight: 300;
  }
  small {
    font-size: .7rem;
  }
}

.label {
  font-family: $jp-font;
  font-size: .7rem;
  font-weight: 300;
}

.testing-alert {
    color: red;
    font-weight: 400;
    font-size: .7rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
