// Home

#category-menu {
  // margin-top: 1rem;
  margin-bottom: 1rem;
  // background-color: #45526e !important;
  background-color: $main;
  a, input::placeholder {
    color: white;
  }
  input::-ms-input-placeholder,
  input:-ms-input-placeholder {
    color: white;
  }
}

.navbar.navbar-dark form .md-form .form-control {
  width: 250px;
}

.feature {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 100;
  & > div {
    padding: 10px;
    flex-basis: 50%;
    @media screen and (max-width: 768px) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    &:first-child {
      padding-right: 0;
      @media screen and (max-width: 768px) {
        padding-bottom: 0;
      }
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  a {
    color: #666;
  }
} //featured

.item-detail {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  // div {
  //   display: grid;
  //   justify-items: right;
  // }
}

#item .btn {
  width: 100%;
}


.items > section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  & > li {
    flex-basis: calc((100% - 30px)/4);
    background: white;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;

    &:nth-child(4n) {
      margin-right: 0px;
    }

    @media screen and (max-width: 768px) {
      -ms-flex-preferred-size: calc((100% - 10px)/2);
      flex-basis: calc((100% - 10px)/2);
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }

    @media screen and (max-width: 484px) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 0;
    }

    & > div {
      border: 4px solid $main;
    }


    & > div > div:nth-child(3) {
      padding: 5px;
    }


  } //li
} //.items ul


// Square Technique
@media screen and (min-width: 484px) {
// @media (min-width: 768px) {
  .items > section > ul > li {
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    & > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      & > div {
        // background: rgba(180, 165, 130, .5);
        height: 80%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          // overflow: hidden;
        }
      }
    }
  } // .items > div> ul > li
} // @media




.other-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  .item {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    font-weight: 100;
    p {
      margin-bottom: 0;
    }
    a {
      color: #666;
    }
    // &.featured-item {
    //   background: $green;
    //   color: white;
    //   a {
    //     color: white;
    //   }
    // }
  } //.item
} //.other-items

// .other-items {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 20px;
//     // div {
//     //   padding: 20px;
//     // }
//     img {
//       margin-bottom: 10px;
//     }
// }



// .Parts-color,
// .PC-color{
//   background-color: $uguisucha;
// }
// .Furniture-color {
//   background-color: $kuchiba;
// }
// .Green-color {
//   background-color: $nae;
// }

.category-color {
  background-color: $nae;
}

.shipping-address {
  .address {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

#order-info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 400;
}