
.shipping-address {
  .address {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

#order-info {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

table.table {
  margin-top: 4rem;
  margin-bottom: 4rem;
  a {
    color: #878a8d;
  }
}

.table td {
  font-weight: 400;
  &.bold {
    font-weight: 800;
  }
  &.total-price {
    box-shadow: inset 0 0 0 2px #878a8d;
  }
}

.table td,
.table th {
  border: none;
}

.table thead th {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0;
  font-size: .8rem;
  font-weight: 300;
  padding-bottom: 0;
}

img.thumb {
  width: auto;
}
