{% extends "base.html" %}
{% block head_title %}商品の追加/編集{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container item-form">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {% if edit %}
      <legend class="border-bottm mt-5 mb-4">商品を編集する</legend>
      {% else %}
      <legend class="border-bottm mt-5 mb-4">商品を追加する</legend>
      {% endif %}
      {{ form|crispy }}
      <div id="main-thumb" class="thumb-wrap">
        <img src="{{ item.image_thumb.url }}">
      </div>

      {% if not item.other_images.count %}
      <section class="photo-formset no-data">
        {% else %}
        <section class="photo-formset">
          {% endif %}
          <h4 class="mt-5 mb-5">その他の画像<small> ※最大10個まで登録可能です。</small></h4>
          <div class="other-img-form">
            <!-- !!!Never Forget!!! -->
            {{ formset.management_form }}
            {% for photo_form in formset %}
            <div class="multiField">
              {{ photo_form|crispy }}
            </div>
            {% endfor %}
            <div class="plus-minus">
              <i id="add-form" class="far fa-plus-square"></i>
              <i id="remove-form" class="far fa-minus-square"></i>
            </div>
          </div>
        </section>
        <button class="btn btn-main mt-5" type="submit">
          {% if edit %}
          更新する
          {% else %}
          追加する
          {% endif %}
        </button>
    </fieldset>
  </form>

  <ul class="thumb-container">
    {% if item.other_images.count %}
    {% for photo in item.other_images.all %}
    <li class="thumb-wrap">
      <img src="{{ photo.thumb.url }}">
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>

{% endblock %}