{% extends "base.html" %}

{% block head_title %}Your Profile{% endblock %}

{% block content %}

<!--Main layout-->
<main>
  <div id="profile" class="container">

    <h2>Your Profile</h2>

    <div class="mt-5">

      <div>
        <p class="label mb-0">Your Name</p>
        <p class="bold">{{ user.first_name }} {{ user.last_name }}</p>
      </div>

      <div>
        <p class="label mb-0">Your Email Address</p>
        <p class="bold">{{ user.email }}</p>
      </div>

      <div>
        <p class="label mb-0">Your Username</p>
        <p class="bold">{{ user.username }}</p>
      </div>

      <a href="{% url 'user:edit-profile' pk=user.id %} " class="btn btn-outline-primary btn-sm mt-4">Edit Profile</a>

    </div>

    <div class="shipping-address">
      <h3>Shipping Addresses</h3>
      {% for shipping_address in user.shipping_addresses.all %}
      <div class="mb-3">
        <p class=" label mb-0">Shipping address {% if forloop.counter %}{{ forloop.counter }}{% endif %}</p>
        <p class="address mb-0">
          <span>{{ shipping_address }}</span>
          {% if shipping_address.primary %}
          <span class="badge badge-danger ml-2">Primary Address</span>
          <a href="{% url 'user:primary-shipping-address' %}?next={{ request.path }}"
            class="btn btn-outline-primary btn-sm">Change Primary Address</a>
          {% endif %}
        </p>
        <a href="{% url 'user:update-shipping-address' pk=shipping_address.id %}"
          class="btn btn-outline-primary btn-sm">edit</a>
        <a href="{% url 'user:delete-shipping-address' pk=shipping_address.id %}"
          class="btn btn-outline-danger btn-sm">delete</a>
      </div>
      {% endfor %}
    </div>

    <div class="billing-address">
      <h3>Billing Addresses</h3>
      {% for billing_address in user.billing_addresses.all %}
      <div class="mb-3">
        <p class=" label mb-0">Billing Address {% if forloop.counter %}{{ forloop.counter }}{% endif %}</p>
        <p class="bold mb-0">{{ billing_address }}</p>
      </div>
      {% endfor %}
    </div>


    {% for order in user.orders.all %}
    <p class="label mb-0">Order No: {{ order.id }}</p>
    <p class="">{{ order.ordered_date }}</p>
    {% endfor %}

  </div>


  </div> <!-- container -->

</main>
<!--Main layout-->


{% endblock content %}