{% load cart_template_tags %}

<nav id="main-menu" class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'core:home' %}">
      <h1>{{ request.site.siteinfo.title }}</h1>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        <div>
          <li class="nav-item">
            for
            {% if user.first_name and user.last_name %}
            <h5 class="username">{{ user.last_name }}{{ user.first_name }}</h5>
            {% else %}
            <h5 class="username">{{ user.username }}</h5>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'user:profile' %}"> プロフィール </a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'user:order-history' %}"> 購入履歴 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'user:fav-items' %}"> お気に入り </a>
          </li>
        </div>
        <div>
          <li class="nav-item">
            <a id="nav-cart" class="nav-link waves-effect" href="{% url 'core:shopping-cart' %}">
              <span class="badge badge-quantity z-depth-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <!-- <span class="clearfix d-none d-sm-inline-block"> カート </span> -->
              <span class="clearfix d-sm-inline-block"> カート </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'logout' %}">
              <span class="clearfix d-sm-inline-block"> ログアウト </span>
            </a>
          </li>
        </div>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'login' %}?next={{ request.path }}">
            <span class="clearfix d-sm-inline-block"> ログイン </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'register' %}">
            <span class="clearfix d-sm-inline-block"> 新規登録 </span>
          </a>
        </li>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>
<div class="container">
  <p class="testing-alert">
    ※このサイトはEコマースのサンプルサイトです。決済機能を完結してお試し頂けますが、実際の注文は発生致しません。ご了承下さい。
  </p>
</div>